In [ ]:
Day04_B30_PythomFundamentals

In [ ]:
adding White spaces to string
\n -----> new linedelimiter
\t -----> tab delimiter

In [1]:
print("fruits:AppleOrangeMango")

fruits:AppleOrangeMango

In [2]:
print("fruits:\nApple\nOrange\nMango")  # \n is line delimiter

fruits:
Apple
Orange
Mango

In [3]:
print("fruits:\n\tApple\n\tOrange\n\tMango")

fruits:
	Apple
	Orange
	Mango

In [4]:
print("fruits:\n\tApple\tOrange\tMango") #\t is tab delimiter

fruits:
	Apple	Orange	Mango

In [ ]:
Remove Whitespace from the String

In [5]:
name = "Welcome"  # normal String
print(name)

Welcome

In [6]:
name1 = "   Welcome"  # left side whitespace String
print(name1)

   Welcome

In [13]:
name2 = "Welcome   "  # right side whitespace String
print(name2)

Welcome

In [15]:
name3 = "  Welcome   "  # left side and right side whitespace String
print(name3)

  Welcome

In [9]:
name1.lstrip()  # lstrip() used to remove the left side whitespace

'Welcome'

In [14]:
name2.rstrip()  # rstrip() used to remove the right side whitespace

'Welcome'

In [16]:
name3.strip()  # strip() used to remove the both side whitespace , it will doing search operation

'Welcome'

In [ ]:
2.Numbers - it the numberic data type , it can be classifed into 2 types
1.integer
2.float

In [ ]:
1.integer

In [17]:
4+3

7

In [18]:
7-3

4

In [19]:
5*7

35

In [20]:
6/3

2.0

In [21]:
x = 7
y = 5

In [23]:
add = x +y
print(add)

12

In [24]:
sub =x-y
print(sub)

2

In [26]:
div = x/y
print(div)

1.4

In [27]:
type(div)

float

In [28]:
type(add)   # type() is used to find the type of variable

int

In [29]:
mod = x%y
print(mod)

2

In [ ]:
2. Float: decimal

In [30]:
4.5+6.5

11.0

In [31]:
a = 4.6
b = 3.7

In [32]:
c = a + b
print(c)

8.3